@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
#root {
  height: 100dvh;
  position: relative;
}

.gradient-text {
  background: linear-gradient(
    270deg,
    #4158d0 -10.58%,
    #c850c0 53.14%,
    #ffcc70 110.48%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  /* text-fill-color: transparent; */
}

.slide-appear {
  transform: translate3d(200%, 0, 0);
}
.slide-appear-active {
  transform: translate3d(0, 0, 0);
  transition: all 500ms ease-in-out;
}
.slide-appear-done {
  transform: translate3d(0, 0, 0);
}

/*****Fade In effect when component is mounted*****/
.slide-enter {
  transform: translate3d(200%, 0, 0);
}

.slide-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all 500ms ease-in-out;
}

/*****Fade Out effect when component is unmounted*****/
.slide-exit {
  transform: translate3d(0, 0, 0);
}

.slide-exit-active {
  transform: translate3d(-200%, 0, 0);
  transition: all 500ms ease-in-out;
}

.slide-page {
  animation: anim-effect 1s ease-in-out forwards;
}
@keyframes anim-effect {
  0% {
    transform: translate3d(200%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

#tokenId::-webkit-outer-spin-button,
#tokenId::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#tokenId {
  appearance: textfield; /* Firefox */
}

@layer base {
  h1 {
    @apply gradient-text font-extrabold text-4xl md:text-5xl lg:text-7xl lg:leading-normal;
  }
  h4 {
    @apply text-sm md:text-base lg:text-lg xl:text-xl;
  }
}
